/* $Id: colors.css,v 1.10 2011/01/04 05:24:13 webchick Exp $ */

/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #f8f8ed;
}
#page,
#main-wrapper
 {
  background: #EDF8ED;
}
.tabs ul.primary li a.active {
  background-color: #f8f8ed;
}
.tabs ul.primary li.active a {
  background-color: #f8f8ed;
  border-bottom: 1px solid #f8f8ed;
}
#header {
  background-color: none!important;
  background-image: none;
}
a {
  color: #198815;
}
a:hover,
a:focus {
  color: #1bbc14;
}
a:active {
  color: #35e52d;
}
.sidebar .block {
  background-color: #e2dcbf;
  border-color: #d2c793;
border-radius:5px;
}
#page-wrapper,
#footer-wrapper {
  background: #2b2012;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}
